*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background: dimgray;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color:lightsalmon;
    text-shadow: 0 0 25px salmon,
                 0 0 50px salmon;
    transform: scale(1.1);
}

span{
    color: lightsalmon;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 10px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    position: relative;
}

.navbar a.about-me span {
    margin-left: 5px;
    color: white;
}

.navbar a.work {
    margin-left: 50px;
    color: white;
}

.navbar a:hover {
    color: lightsalmon;
    border-bottom: 3px solid lightsalmon;
}

.navbar a:hover span {
    color: lightsalmon;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: lightsalmon;
    box-shadow: 0 0 25px lightsalmon;
    color: black;
}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0; 
}

@media print {
    body {
      margin: 0;
      padding: 0;
    }
}

section {
    margin: 0;
    padding: 0;
  }

p {
    text-align: justify;
}

.home-content{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}

.home-content p{
    font-size: 18px;
    margin: 50px 0 30;
    padding: 10px;
}

.img-box img{
    border-radius: 65%;
    width: 500px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: lightsalmon;
}

::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.6);
    width: 50px;
}

.my-work{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: dimgray;
}

.about-img img{
    position: relative;
    width: 300px;
    box-shadow: 0 0 25px lightsalmon,
                0 0 50px lightsalmon;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#coding-img:hover, #css-img:hover, #html-img:hover{
    background-color: lightsalmon;
    box-shadow: 0 0 25px lightsalmon;
    color: black;
    transform: scale(1.5)
}

.about-img img:not(:hover){
    transform: scale(1);
}

.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.about-content h3{
    font-size: 62px;
    color: white;
}

.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

#about-me, #work, #contact-me {
    min-height: 100vh;
  }

#about-me, #work {
    page-break-after: always;
  }

.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.send-message{
    padding: 10px 28px;
    background-color: darkgray;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.send-message:hover{
    background-color: lightsalmon;
    box-shadow: 0 0 25px lightsalmon;
    color: black;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: darkgray;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid lightsalmon;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px lightsalmon, 0 0 10px lightsalmon;
    transition: 0.3 ease;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: lightsalmon;
    border: 2px solid lightsalmon;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover{
    border-bottom: 3px solid lightsalmon;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}

@media only screen and (max-width: 320px) {
    .about-img img, .img-box img {
      width: 100%; 
      height: auto; 
    }
}
  

@media only screen and (min-width: 321px) {
    .about-img img, .img-box img {
      width: auto; 
      max-width: 100%; 
      height: auto; 
    }
}
  